<div class="d-flex align-items-center">
  <div class="p-2 w-100">
    <span class="title-pages">Edit Iten</span>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <%= link_to('Back', itens_path, class: 'btn btn-secondary') %>
    <%= link_to('Show', @iten, class: 'btn btn-primary') %>
  </div>
</div>

<%= render 'form', iten: @iten %>
