<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to omniauth_authorize_path(resource_name, provider), method: :post do %>
      <span><i class="<%= social_link_icon(provider) %>"></i></span>
    <% end %>
  <% end %>
<% end %>